<?xml version="1.0"?>
 
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
 
<configuration>
 
  
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svf" mimeType="vector/vnd.svf" />
      <mimeMap fileExtension=".pack" mimeType="vector/vnd.svf" />
      <mimeMap fileExtension=".pf" mimeType="vector/vnd.svf" />
      <mimeMap fileExtension=".dds" mimeType="image/vnd-ms.dds" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
 
  
</configuration>